<div class="row">
  <div class="col-sm-12">
    <h2>{{title}}</h2>

    <div class="recordings" ng-repeat="recording in recordings">
      <h4>{{recording.title}}</h4>
      <div class="row">
        <div class="col-md-4">
          <img ng-src="{{recording.imageUrl}}" alt="{{recording.imageAltText}}"
              class="img-responsive">
        </div>
        <div class="col-md-8">
          <a href="{{recording.url}}" target="_blank">Link</a>
          <!-- TODO: need to look into SoundCloud's api, or how linkable sounds are created -->
          <p>This will link to a recording somehow</p>
        </div>
      </div>
    </div>

    <div class="no-elements" ng-hide="recordings.length">
      <h4>Coming Soon</h4>
      <p>There are currently no recordings of the band. We're hoping to get some recordings done very soon, and will post them here (via Soudncloud) for you to listen to</p>
    </div>

  </div>
</div>
